li {
    color: khaki; font-family: fantasy; 
}
li :hover {
    color: lightcoral; font-family: sans-serif;
}
/* body {
    background-color: rgb(213, 217, 226);
} */




.gentitle {
    font-family:Georgia, 'Times New Roman', Times, serif;
    text-shadow:
    0 0 5px #fff,
    0 0 9px #fff,
    0 0 15px rgb(0, 19, 255),
    0 0 25px rgb(0, 255, 255);
    
}
/*
.topi {
    background-color: #fff;
    border: solid white 2px;
    border-width: 6vw;
    width: 5vw;
    
    border-left-color: red;
    border-right-color: blue;
    border-radius: 45%;
    margin-left: 45vw;

}
*/
